<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LoginSystem.users" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <LoginSystem.users>
            <setting name="user" serializeAs="String">
                <value>kikko298</value>
            </setting>
            <setting name="pass" serializeAs="String">
                <value>MargaridaLopes1</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>TheWebs</value>
            </setting>
            <setting name="Rank" serializeAs="String">
                <value>DIAMOND</value>
            </setting>
            <setting name="Champion" serializeAs="String">
                <value>Ezreal</value>
            </setting>
            <setting name="Icon" serializeAs="String">
                <value>505</value>
            </setting>
            <setting name="Ribbon" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Skin" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Side" serializeAs="String">
                <value>BLUE</value>
            </setting>
        </LoginSystem.users>
    </userSettings>
</configuration>